@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap') ;

.pesquisa {
  color: blue;
  display: center;
  font-family: Sacramento , cursive;
  font-size: 80px;
  height: 45px;
  justify-content: center;
  text-align: center;
  width: 400px;
}

.favoritos {
  color: blue;
  display: center;
  font-family: Sacramento , cursive;
  font-size: 80px;
  height: 45px;
  justify-content: center;
  text-align: center;
  width: 400px;
}

.perfil {
  color: blue;
  display: center;
  font-family: Sacramento , cursive;
  font-size: 80px;
  height: 45px;
  justify-content: center;
  text-align: center;
  width: 400px;
}
